@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900&display=swap');

*{
  font-family: 'Raleway'

}


.body{
  background-color: rgba(27,27,27,1);
  
}


.particles{
  position: absolute;
   width: 100%;
   height: 100%;
   /* background: rgba(27,27,27,1); */
   background: rgb(66,66,66);
   background: linear-gradient(180deg, rgba(66,66,66,1) 0%, rgba(27,27,27,1) 80%); 
    /* z-index: -1; */
    
  }

/* !===={ Navbar }===! */
.navbar{
  background: rgba(255, 255, 255, 0);
}

.navLink{
  color:rgb(212, 212, 212) !important;
}

.navLink:hover{
  color:rgb(212, 212, 212) !important;
  color:rgb(0, 255, 213)!important;
  cursor: pointer !important;
  transition-duration: .90s !important;
  text-decoration: none !important;
}

.navBrand{
  color:white;
  font-size: 30px;
  font-weight: 600
}



/* !===={ Hero }===! */
.hero{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

} 

.hero-container{
  height: 90vh;
  width: 100%;
}


.hero-bold{
  color: rgb(0, 255, 213);
  font-weight: 600
}

.down-Arrow{
  color:rgba(255, 255, 255, 0.164);
  position: absolute;
  top: 90%;
  font-size: 50px;

}


/* !===={ About }===! */
.about-bg{
  padding-top: 20px;
  background-color: rgba(27,27,27,1);
  width: 100%;
}


.githubLogo{
  color:rgb(212, 212, 212);
  font-size:40px;
  margin-right: 20px;
}

.contact-links{
  color:rgb(99, 99, 99);
  font-size:40px;
  margin-right: 20px;
}

.contact-links:hover{
  transition-duration: .90s;
  color:rgb(0, 174, 255);
  cursor: pointer;
  -webkit-transition: all .8s ease;
  -moz-transition: all .8s ease;
  transition: all .8s ease;
  }

.githubLogo:hover{
transition-duration: .90s;
  font-size: 41px;
color:rgb(0, 174, 255);
cursor: pointer;
}

.linkedinLogo{
  color:rgb(212, 212, 212);
  font-size: 40px;
}


.linkedinLogo:hover{
  transition-duration: .90s;
  font-size: 41px;
  color:rgb(0, 174, 255);
  cursor: pointer;
}


.card{
  background: rgb(48, 48, 48) !important;
  /* border: none !important; */
  border-radius: 10px !important;
  border-color: rgba(255, 255, 255, 0.178)!important;
  border-width: 1px !important;
  color: white;
  margin-bottom: 30px;
}

.list-group-item{
  background: none !important;
  border: none !important;
  color: white;
}

.tech-text{
  font-weight: 300;
  color: rgb(201, 201, 201);
}

.stack-text{
  font-weight: 500;
  color: aquamarine;
}

hr{
  border: 1px solid rgba(255, 255, 255, 0.219) !important;
  border-radius: 100px !important;
  width: 50%;
  
}



.portfolio-img{
  width: 100%;
  border-radius: 20px;
}

figcaption {
  position: absolute;
  top: 25%;
  left: 0;
  width: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
}

figure:hover img {
  opacity: 0.1;
  -webkit-transition: all .8s ease;
  -moz-transition: all .8s ease;
  transition: all .8s ease;
}

figure:hover  figcaption{
  opacity: 1;
  -webkit-transition: all .8s ease;
  -moz-transition: all .8s ease;
  transition: all .8s ease;
}



.btn-project {
    color: white !important;
    border-radius: 20px !important;
    background-color: none !important;
    border-color: rgb(0, 255, 213) !important;
}

.btn-project:hover {
  color: rgb(255, 255, 255) !important;
  background-color: rgba(0, 255, 213, 0.301) !important;
  border-color:rgb(0, 255, 213) !important;
  cursor: pointer !important;
}

.btn-launch {
  color: white !important;
  border-radius: 20px !important;
  background-color: none !important;
  border-color:rgb(212, 0, 0) !important;
}

.btn-launch:hover {
color: rgb(255, 255, 255) !important;
background-color: rgb(212, 0, 0) !important;
border-color:rgb(212, 0, 0) !important;
cursor: pointer !important;
}


.contact-section{
  background: rgb(204, 204, 204);
  clip-path: polygon(50% 75px, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 0);
  padding-top: 75px;
}

.contact-text{
  font-weight: 400;
  color: rgba(27,27,27,1);
}