@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900&display=swap');

*{
  font-family: 'Raleway'

}


.particles{
  position: absolute;
   width: 100%;
   height: 100%;
   /* background: rgba(27,27,27,1); */
   background: rgb(66,66,66);
   background: linear-gradient(180deg, rgba(66,66,66,1) 0%, rgba(27,27,27,1) 80%); 
    /* z-index: -1; */
    
  }

/* !===={ Navbar }===! */
.navbar{
  background: rgba(255, 255, 255, 0);
}

.navLink{
  color:rgb(212, 212, 212);
}

.navBrand{
  color:white;
  font-size: 30px;
  font-weight: 600
}



/* !===={ Hero }===! */
.hero{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

} 

.hero-container{
  height: 90vh;
  width: 100%;
}


.hero-bold{
  color: rgb(0, 255, 213);
  font-weight: 600
}



/* !===={ About }===! */
.about-bg{
  padding-top: 20px;
  background-color: rgba(27,27,27,1);
  width: 100%;
}

.linkedIn{
  margin-left: 15px;
  fill:blue;
}

.githubLogo{
  color:rgb(212, 212, 212);
  font-size:40px;
  margin-right: 20px;
}

.githubLogo:hover{
transition-duration: .90s;
  font-size: 38px;
color:rgb(0, 174, 255);
cursor: pointer;
}

.linkedinLogo{
  color:rgb(212, 212, 212);
  font-size: 40px;
}


.linkedinLogo:hover{
  transition-duration: .90s;
  font-size: 38px;
  color:rgb(0, 174, 255);
  cursor: pointer;
}